# Folders
# -------

# Universal
gisFiles/

# Repo specific
outputChunks/

# zonaSltatistics repo
zonalStatistics/versions/
missingData/

# impoundments repo
impoundments/outputFiles
impoundments/products

# Files
# -----

# Universal
*.RData